#logo-container {
  display: inline;
  position: absolute;
  width: auto;
  height: auto;
  border-radius: 25%;
}
img {
  height: auto;
  width: auto;
}
#web-title {
  position: relative;
  padding-left: 45%;
  top: 10%;

  text-align: center;
}
