#slogen-layout {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  background-color: rgb(138 0 255)
}


div #slogen-top {
  display: flex;
  align-items: center;
  justify-content:  space-between;

}
