.post-head-item{
display: flex;
flex-direction: row;
justify-content:start;
align-items: center;
gap: 7px;
}


.post-head{
    display: flex;
    justify-content:space-between;
    
}
.post-card{
    margin: 0 10% ;
}
.post-main-article{
    margin-inline-end: 15%;
}